@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body {
   background-color: var(--color-third);
 }













 /* HEADER AND FOOTER */

 .header {
   width: 100%;
   height: 7vh;
   background-color: var(--color-third);
   color: var(--color-primary);
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
 }
 .header div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   width: auto;
   font-size: 1.9em;
 }
 .header div i {
   color: var(--color-primary);
 }
 .header div a {
   color: var(--color-third);
   font-size: 0.1em;
 }
 .header div i:hover {
   font-weight: bold;
 }
      
 .footer {
   width: 100%;
   height: 7vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: var(--color-third);
   position: fixed;
   bottom: 0;
 }
 .footer h2 {
   color: var(--color-secundary);
 }
 .footer i {
   color: var(--color-primary);
 }













 /* MAIN__HOME */

.main__home {
   width: 100%;
   height: 80vh;
   margin-top: 30px;
   background-color: var(--color-third);
}
.home__text {
   width: 100%;
   height: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

}
.home__text h1 {
   color: var(--color-primary);
   font-size: 3.4em;
}
.home__text div h5 {
   color: var(--color-secundary);
   font-size: 1.3em;
}
.home__text div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.home__text button {
   width: 30%;
   height: 13%;
   background-color: var(--color-primary);
   border-radius: 5px;
   color: var(--color-secundary);
   border: none;
}
.home__img {
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.home__img img {
   width: 80%;
   height: 100%;
}
.home__text button:hover {
   font-weight: bold;
   box-shadow: 0px 0px 10px 0px var(--color-primary);
}












/* MAIN__ABOUT */

.main__about {
   width: 100%;
   height: 80vh;
   overflow: hidden;
}
.about__text {
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-direction: column;
}
.about__text h6 {
   width: 100%;
   display: flex;
   justify-content: center;
   color: var(--color-primary);
   font-size: 1em;
}
.about__text  div h1 {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2em;
   color: var(--color-secundary);
}
.about__text div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.about__text div h5 {
   width: 100%;
   font-size: .9em;
   display: flex;
   justify-content: center;
   color: var(--color-secundary);
}
.about__text button {
   width: 30%;
   height: 9%;
   background-color: var(--color-primary);
   border-radius: 5px;
   color: var(--color-secundary);
   border: none;
}
.about__text button:hover {
   font-weight: bold;
   box-shadow: 0px 0px 10px 0px var(--color-primary);
}
.about__img {
   width: 100%;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.about__img img{
   width: 80%;
   height: 80%;
}












/* MAIN__FOOD */

.main__food {
   width: 100%;
   height: 200vh;
   gap: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.food__text {
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.food__text h6 {
   font-size: 1em;
   color: var(--color-primary);
}
.food__text h1 {
   color: var(--color-secundary);
   font-size: 2em;
   display: flex;
   justify-content: center;
}
.food__img_1, .food__img_2, .food__img_3{
   width: 80%;
   height: 40vh;
   background-color: var(--color-fifth);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
}
.food__img_3 div img{
   padding-top: 5px;
}
.food__img_1 div, .food__img_2 div, .food__img_3 div {
   width: 100%;
   height: 75%;
   display: flex;
   gap: 10px;

}
.food__img_1 div img, .food__img_2 div img, .food__img_3 div img{
   width: 91%;
   height: 91%;
   padding-left: 15px;
   margin-left: 30px;
   display: flex;
   justify-content: flex-end;
}

.food__img_1 div i, .food__img_2 div i, .food__img_3 div i {
   width: 45px;
   height: 40px;
   background-color: var(--color-primary);
   color: var(--color-secundary);
   display: flex;
   justify-content: center;
   align-items: center;
}
.food__img_1 h3, .food__img_2 h3, .food__img_3 h3 {
   color: var(--color-primary);
}











/* MAIN__SERVICES */

.main__services {
   width: 100%;
   height: 220vh;
   display: flex;
   flex-direction: column;
   gap: 100px;
}
.services__text {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.services__text h1 {
   font-size: 2em;
   color: var(--color-secundary);
}
.services__text div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.services__text h6 {
   color: var(--color-primary);
   font-size: 1em;
}
.services__img_1, .services__img_2, .services__img_3 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50vh;
   padding: 20px;

}
.services__img_1 .divimg img, .services__img_2 .divimg img, .services__img_3 .divimg img{
   width: 90%;
   height: 70%;
}
.divimg {
   height: auto;
}
.services__img_1 h1, .services__img_2 h1 , .services__img_3 h1  {
   color: var(--color-primary);
   font-size: 2em;
}
.services__img_1 div, .services__img_2 div, .services__img_3 div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.services__img_1 div h2, .services__img_2 div h2, .services__img_3 div h2 {
   color: var(--color-secundary);
   font-size: 1em;
}












/* MAIN__BOX */
.main__box {
   width: 100%;
   height: 35vh;
   display: flex;
   justify-content: center;
}
.box__box {
   width: 90%;
   height: 80%;
   background-color: var(--color-fifth);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;

}
.box__box div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}
.box__box div h1 {
   font-size: 1.6em;
}
.box__box button {
   width: 30%;
   height: 13%;
   background-color: var(--color-primary);
   border-radius: 5px;
   color: var(--color-secundary);
   border: none;
}
.box__box button:hover {
   font-weight: bold;
   box-shadow: 0px 0px 10px 0px var(--color-primary);
}












/* MENU__LINKS */
.main__last {
   width: 100%;
   height: 111vh;
}
.last__text {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-left: 50px;
   gap: 35px;
   padding-top: 100px;
}
.links {
   color: var(--color-secundary);
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.links div {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.service {
   color: var(--color-secundary);
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.service div {
   display: flex;
   flex-direction: column;
   gap: 5px;
} 
.information {
   color: var(--color-secundary);
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.information div {
   display: flex;
   flex-direction: column;
   gap: 5px;
} 












/* PC SITE */
@media (width > 700px) {
   .header div {
      display: flex;
      justify-content: space-between;
      width: 30%;
   }
   .header div a {
      color: var(--color-secundary);
      font-size: .5em;
      text-decoration: none;
   }
   .header div a:hover {
      font-weight: bold;
     font-style: oblique;
   }
   .header div i {
      color: transparent;
      position: absolute;
   }
   .main__home {
      display: grid;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .home__text {
      height: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      padding-left: 200px;
   }
   .home__text h1 {
      font-size: 6em;
   }
   .home__text div h5 {
      font-size: 2em;
   }
   .home__text div {
      display: flex;
      align-items: start;
   }
   .home__text button {
      width: 25%;
      height: 7%;
   }
   .home__img {
      height: 100%;
      width: 100%;
   }
   .home__img img {
      width: 80%;
      height: 80%;
   }
   .main__about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
      grid-template-areas: 
      ". ."
      "img texto"
      ". ."
      ;
   }
   .about__text {
      display: grid;
      width: 100%;
      height: 100%;
      grid-area: texto;
      display: flex;
      gap: 30px;
      align-items: start;
   }
   .about__text h6{
      width: auto;
      font-size: 1.5em;
   }
   .about__text div h1 {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: flex-start;
      font-size: 3.5em;
   }
   .about__text div h5 {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: flex-start;
      font-size: 1.5em;
   }
   .about__img {
      display: grid;
      width: 100%;
      height: 100%;
      grid-area: img;
   }
   .about__img img {
      width: 100%;
      height: 100%;
   }
   .main__food {
      height: 100vh;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
      grid-template-rows: 1fr 1fr 0.5fr;
      grid-template-areas: 
      "texto texto texto texto texto"
      ". img1 img2 img3 ."
      ". . . . ."
      ;
   }
   .food__text {
      display: grid;
      grid-area: texto;
      display: flex;
   }
   .food__text h6 {
      font-size: 1.5em;
   }
   .food__text div h1{
      font-size: 3.5em;
   }
   .food__img_1 {
      display: grid;
      grid-area: img1;
      display: flex;
      width: auto;
      padding-bottom: 10px;
   }
   .food__img_2 {
      display: grid;
      grid-area: img2;
      display: flex;
      width: auto;
      padding-bottom: 10px;
   }
   .food__img_3 {
      display: grid;
      grid-area: img3;
      display: flex;
      width: auto;
      padding-bottom: 10px;
   }
   .food__img_1 div i, .food__img_2 div i, .food__img_3 div i {
      padding: 0;
      margin: 0;
      width: 45px;
      height: 45px;
   }
   .food__img_1 div, .food__img_2 div, .food__img_3 div {
      margin-bottom: 10px;
   }
   .main__services {
      height: 100vh;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
      grid-template-rows: 1fr 1fr 0.5fr;
      grid-template-areas: 
      "texto texto texto texto texto"
      ". img1 img2 img3 ."
      ". . . . ."
      ;
   }
   .services__text {
      display: grid;
      grid-area: texto;
      display: flex;
   }
   .services__text h6 {
      font-size: 1.5em;
   }
   .services__text div h1{
      font-size: 3.5em;
   }
   .services__img_1 {
      display: grid;
      grid-area: img1;
   }
   .services__img_2 {
      display: grid;
      grid-area: img2;
   }
   .services__img_3 {
      display: grid;
      grid-area: img3;
   }
   .services__img_1 div, .services__img_2 div, .services__img_3 div{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2em;
   }
   .services__img_1 h1, .services__img_2 h1, .services__img_3 h1 {
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .main__box {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
   }
   .box__box {
      width: 60%;
      height: 50%;
   }
   .box__box div h1 {
      font-size: 2.8em;
   }
   .box__box button {
      margin-top: 20px;
   }
   .main__last {
      height: 50vh;
   }
   .last__text {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }
   .last__text h1 {
      font-size: 2.3em;
   }
   .last__text div div p {
      font-size: 1.3em;
   }
}
