<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Carrito_Vacio.css">
    <link rel="stylesheet" href="js/main.js">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Proyecto</title>
</head>
<main>
    <header class="header">
        <h1>CampusShop</h1>
    </header>
    <section class="aside">
        <ul>
            <div class="aside__options">
                <li class="li1">
                    <i class='bx bx-closet'></i>
                    <a href="../index.html">Todos los productos</a>
                </li>
                <li class="li2">
                    <i class='bx bx-closet'></i>
                    <a href="Abrigos.html">Abrigos</a>
                </li>
                <li class="li3">
                    <i class='bx bx-closet'></i>
                    <a href="Camisetas.html">Camisetas</a>
                </li>
                <li class="li4">
                    <i class='bx bx-closet'></i>
                    <a href="Pantalones.html">Pantalones</a>
                </li>
            </div>
            <div class="aside__shopping_cart">
                <i class='bx bxs-cart'></i>
                <li class="li5">
                    <a href="Carrito.html">Carritos</a>
                </li>
                <div>
                    <h5>0</h5>
                </div>
            </div>
        </ul>
        <h5>@2024 Camper</h5>
    </section>
    <section class="Carrito">
        <div class="container">
            <h1>Carrito</h1>
            <p>Tu carrito esta vacío :(</p>
        </div>
    </section>