<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Pantalones.css">
    <link rel="stylesheet" href="js/main.js">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Proyecto</title>
</head>
<body>
<main>
    <header class="header">
        <h1>CampusShop</h1>
    </header>
    <section class="aside">
        <ul>
            <div class="aside__options">
                <li class="li1">
                    <i class='bx bx-closet'></i>
                    <a href="../index.html">Todos los productos</a>
                </li>
                <li class="li2">
                    <i class='bx bx-closet'></i>
                    <a href="Abrigos.html">Abrigos</a>
                </li>
                <li class="li3">
                    <i class='bx bx-closet'></i>
                    <a href="Camisetas.html">Camisetas</a>
                </li>
                <li class="li4">
                    <i class='bx bx-closet'></i>
                    <a href="Pantalones.html">Pantalones</a>
                </li>
            </div>
            <div class="aside__shopping_cart">
                <i class='bx bxs-cart'></i>
                <li class="li5">
                    <a href="Carrito.html">Carritos</a>
                </li>
                <div>
                    <h5>3</h5>
                </div>
            </div>
        </ul>
        <h5>@2024 Camper</h5>
    </section>
    <section class="products__window">
        <div class="window">
            <h1>Pantalones</h1>
            <div class="products">
                <div class="item_1">
                    <img src="../storage/img/pantalon1.png">
                    <div class="container">
                            <h5>Pantalon 01</h5>
                        <div>
                            <h5>$1.000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_2">
                    <img src="../storage/img/pantalon2.png">
                    <div class="container">
                            <h5>Pantalon 02</h5>
                        <div>
                            <h5>$2.000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_3">
                    <img src="../storage/img/pantalon3.png">
                    <div class="container">
                            <h5>Pantalon 03</h5>
                        <div>
                            <h5>$3.000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_4">
                    <img src="../storage/img/pantalon4.png">
                    <div class="container">
                            <h5>Pantalon 04</h5>
                        <div>
                            <h5>$4.000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_5">
                    <img src="../storage/img/pantalon5.png">
                    <div class="container">
                            <h5>Pantalon 05</h5>
                        <div>
                            <h5>$5.000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_6">
                    <img src="../storage/img/pantalon6.png">
                    <div class="container">
                            <h5>Pantalon 06</h5>
                        <div>
                            <h5>$6.000</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_7">
                    <img src="../storage/img/pantalon1.png">
                    <div class="container">
                            <h5>Pantalon 07</h5>
                        <div>
                            <h5>$1.500</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_8">
                    <img src="../storage/img/pantalon2.png">
                    <div class="container">
                            <h5>Pantalon 08</h5>
                        <div>
                            <h5>$2.500</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_9">
                    <img src="../storage/img/pantalon3.png">
                    <div class="container">
                            <h5>Abrigo 09</h5>
                        <div>
                            <h5>$3.500</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_10">
                    <img src="../storage/img/pantalon4.png">
                    <div class="container">
                            <h5>Pantalon 10</h5>
                        <div>
                            <h5>$4.500</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_11">
                    <img src="../storage/img/pantalon5.png">
                    <div class="container">
                            <h5>Pantalon 11</h5>
                        <div>
                            <h5>$5.500</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="item_12">
                    <img src="../storage/img/pantalon6.png">
                    <div class="container">
                            <h5>Pantalon 12</h5>
                        <div>
                            <h5>$6.500</h5>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>