@import url(variables.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--color-black);
    grid-template-columns: 1.4fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "main__aside main__section"
    ;
}

.main__aside {
    width: 100%;
    height: 100%;
    grid-area: main__aside;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aside__div_1"
    "aside__div_2"
    "aside__div_3"
    ;
}
.report__active{
    font-weight: bolder;
}
.aside__div_1{
    grid-area: aside__div_1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.aside__div_2{
    grid-area: aside__div_2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 30%;
    gap: 9%;
    /* background-color: gray; */
}
.aside__div_2 button{
    border: none;
    background-color: black;
}
.aside__div_2 button:hover{
    font-weight: bold;
}
.aside__div_3{
    grid-area: aside__div_3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gainsboro; */
}

.main__section {
    width: 100%;
    height: 100vh;
    grid-area: main__section;
    background-color: var(--color-orange);
}